.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
}

.carousel-item{
    padding : 20px 40px;
}
.price{
    color : purple;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%) ;

    color : white;
    border : none;
    border-radius : 8px;
    padding : 9px 25px;
    cursor : pointer;
}

.cat1, .cat2, .cat3{
    padding : 10px 20px;
    border-radius: 10px;
    
}
.cat1{
    background-image: linear-gradient(180deg, blueviolet, red);
}
.cat2{ 
    background-image : linear-gradient(180deg, purple, green);
}
.cat3{
    background-image : linear-gradient(180deg, blue, violet);
}
.categories h1{
    color : white;
}
.categories img{
    width : 100px;
    
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightslategray;
}
.card-footer{
    background-color : white;
    border-top : none;
}
#subscribe{
    height : 300px;
    border-radius: 10px;
}
#subscribe h6{
        color : gray;
    }

footer{
    text-align: center;
}